{% extends 'index.html.twig' %}

{% block content %}

<table class="mainTable">
<tr><th class="mainTableHeader" colspan="2">Das sind wir</thead></tr>
<tr><td>
<p>Dienstag, 28.08.2001</p>
<p>SMooF und hArm0ny haben eine Mission:</p>
<p>Target: Definition von 82110</p>
<p>*Nichtklarkomm*<br>
Jetzt sitzen wir beide da und schauen uns dumm an...<br> 
Erst mal eine Definition des Wortes "Clan" einbauen:</p>

<p>Englisch : CLAN - a group of people closely connected by similar aims, interests, etc....</p>

<p>Unser' gemeinsames Interesse: Counter Strike</p>

<p>..und wir aimen auf Köpfe...(versuchen es zumindest =P)</p>

<p>Aber HAAAAALT !!!:<br>
82110 ist viel mehr als nur ein Clan, wir sind DIE LOVE COMMUNITY unter den Clans.<br>
Aber bevor wir hier jetzt gleich von Anfang an die Sache mit dem Text verkacken schieben wir erst mal ne Rückblende ein:<br>
AAAAAAlso...entstanden ist der 82110 Clan am 1. April 2000 
( hrhr..niemand weiss mehr das genaue Datum, aber des kommt so ca. hin =o) durch die schlicht-sporadische aber geniale, 
doch wiederum auch ganz schön banane Idee eines CS Spielers sich seine Postleitzahl 
vor den Nickname im CS zu schreiben... D A N K E FLEXIBLE !!! =)<br>
Flux nachgeäfft von Ereger, Schnee, Caliber, Lexus, JesusCh, hArm0ny und cAs auf der "Lexus-LAN" 
( "hey was machen wir heute abend? Lex: he haut's eure Rechner zu mir und wir 
zocken ne Nacht durch... ich hab Sturmfrei...") hatten wir einen Clan. 
Zumindest eine Idee davon...hm...irgendeine Idee...eigentlich GAR keine Idee was da auf uns alle zu kam.<br>
Wir waren Freunde ( sind es natürlich immer noch, aber dies ist eine Geschichte und ihr sollt euch nicht 
immer ablenken lassen!!!*slAp*) und unsere Zusammengehörigkeit zu zeigen machte die eigentliche Idee von 
82110 aus. Die Idee war DER BÖÖÖRNER !!*g*<br>
Ach ja: 82110 ist übrigens die Postleitzahl von Germering, im Süd-Westen von München (Bayern *g*) 
situiert (krasses Wort oder??...situiert..hrhr..). Sei nur mal so am Rande erwähnt..falls es jemand noch ned wusste.
</td></tr>
</table>

<table class="mainTable">
<tr><th class="mainTableHeader" colspan="2">Zurück zur Story</thead></tr>
<tr><td>
<p>
82110 hat sich ausgedehnt wie ein Weissbier, eingeschenkt von jemandem nördl. des Weisswurstäquators *eg*. 
Jeder Depp ;o) hat sich das Tag [82110] (mittlerweile [82IIo.name] )vor den Namen geschrieben, 
aber nur die GRÖSSTEN sind bei uns geblieben. Auch alles Freunde von uns, die sich durch ein Höchstmass 
an sozialer- und zocktechnischer Phattness auszeichneten, echte 82110er zu werden ( Besser: Sie waren es schon immer) 
Schon bald hatte sich herauskristallisiert, dass wir echte High-Skiller mit feuer im Arsch unter eine Haube brachten. 
JA, es hat schon immer gebritzelt, und JA, wir hatten schon immer eine wahnsinnige Zeit wenn wir zusammen gezockt haben 
und erst RECHT während der Real-Life partytime....<br>
Folgende Freaks waren so zu sagen von Anfang an dabei und es ist immer noch der Wahnsinn mit euch Junx: 
Son-Goku, Wis, Frost, Moppedmann, JesusCh, Flexible, Lexus, cAs, Master Vio, Commander Nitschke (aka. JediCAMPER), 
Caliber, hArmony und Schneewittchen (*vielleicht wen vergessen*). Schön langsam musste auch eine Homepage her damit 
sich der 'Freundes'-Kreis schliesst und 82110 ebenfalls visuell im Internet vertreten wurde.<br>
Ihr dürft euch das alles jedoch bei weitem nicht so schnell vorstellen wie ihr es hier nun gelesen habt...
wir sind ein verchillter Haufen, und wenn ihr euch noch ein paar Mini-LAN's und ultra Verplanung zwischen die obrigen 
Zeilen denkt, dann kommt ihr auf die Zeit zwischen Clan-Gründung und Release der Homepage . 
Dies war am 11.11.2000(schon wieder so'n Spuhli -Datum =o). Waren schon ne ganze Menge LANs. Darunter auch die ersten 2 
der legendären WartaWeil Sessions (JUUUHUUU!! Wir bekamen einen VATI!!!!) und die Monitor-killende Gameparade *grrrrrrr*. 
Und so entstanden auch die LAN-Clan Bekanntschaften wie mit MBS ( ..was riecht hier denn so??), Descipe (stinkt sowieso =P), 
vdd, UMZO, CmB, ai, Küche, 8034 (eine schon für ausgestorben gehaltene Mutation von 82110, deren erste Member Bauprolet 
und Sensenmann schon bald anfingen 2-Gleisig zu fahren.....) und noch ein paar anderen Clans...(fragt uns doch nicht...) 
Zur selben Zeit etwa sind auch die I-Net Bekanntschaften und Gewohnheiten entstanden. Hier sei mal unser heiss geliebter 
Channel #82110 (im Quakenet) erwähnt, der von Schnee und Son-Goku mit den ersten Bots noch vor der bananen 
Postleitzahlen-Clan-Idee ( DANKE nochmals Flexible !!!!!! =o) ins Leben gerufen wurde. Anfangs noch ungenutzt, 
wurde diese Einrichtung schon bald zum Sammelpunkt von Informationen jeglicher unnützen Art.....oder poetischer formuliert: 
Wir trafen uns im Geiste. Ein Sehen und Gesehen werden der Freaks. Und wir freuen uns jeden Tag, wenn wieder ein
paar mehr von euch mit uns ideln.<br>
Ihr seit alle herzlich eingeladen!!<br>
Counterstrike- und Zocktechnisch gesehn war L.E. schon je her DER 82110 Server.
Die L.E.-Server Community brachte Bekanntschafen und Freundschaften der wundersamsten Art mit LoV, BOC, 
die ehemaligen KGB's, L.E., sF( ..und alle die wir an dieser stelle vergessen haben, seien schön gegrüsst :o) zu stande. 
Von dem sich auflösenden D.E.P.pen Clan kam ende Februar 2001 VooDoo zu uns...der einzige 82110 den vorher keiner jemals 
gesehn hatte, bis er uns endlich im Juli mal besuchen kam (Huhu Voodoo *knuddel*). Im März kam schliesslich PauleBiernot 
zu uns und unser lieber Kittie hatte uns bereits im Dezember 2000 gejoint. Im April 2001 wiederum passierte was passieren 
musste: 82110 wurde 1 Jahr alt und der MBS- Biggie SMooF konnte sich dem Charme von der ganzen 82110 -"Institution" nicht 
mehr entziehen und wurde ebenfalls Member (SMooF: MBS roXX *jonsonn knuddel* *gg*) Im August erlagen schliesslich auch 
noch die MBSler basster und fabulous dem 82110 Fieber....</p>
</td></tr>
</table>

<table class="mainTable">
<tr><th class="mainTableHeader" colspan="2">WE'RE GETTIN' BIIII-HIIIG !!</thead></tr>
<tr><td>
<p>So, schön langsam musste eine neue Homepage her, da die alte, naja sagen wir sie wurde untauglich für unsere Zwecke =)). 
Nun...hier ist der Rückblick zu Ende ...denn dieser Text soll ja eigentlich "About Us" sein. Wie ihr aus 
unserem 'kleinen' Rückblick hoffentlich erkennen könnt, sind wir mehr als nur ein CS-Clan.</p>

<p>Was wir in erster Linie wollen ist SPASS !!! All inclusive ;o)<br>
Wir haben zwar Ehrgeizige Ziele bezüglich CounterStrike, doch ist es unser Hauptanliegen eine intakte 
Community zu repräsentieren und unseren Lifestyle zu vermitteln. Sagen wir es mal so: Wenn wir an 82110 denken, 
muss jeder von uns sofort lächeln. Freundschaft, Party, echt schräge Aktionen, grillen, chillen, zocken, freaken, 
rocken, ziemlich üble Party und...Party. Das sind nur einige der Bilder die uns allen bei 82110 durch den Kopf 
schiessen wie wir es bei euch auf dem nächsten Server tun werden. WIR ALLE LIEBEN 82110! Aber halt!! 
Versteht das bitte nicht Falsch. Dieser Text soll keine Lobesrede über uns sein, sondern er ist für EUCH, 
damit ihr (wenn ihr wollt) euch ein Bild von uns machen könnt. Und hoffentlich wird deutlich dass ihr ALLE 
eingeladen seid mit uns zu chillen. Denn....unser kleiner Dschungel wird durch jeden von euch Affen nur noch 
grösser und wilder *scherz*. Dieser Text war so zu sagen UNSER erster Schritt auf EUCH da draussen zu...</p>

<p>Also lasst was von euch hören....schreibt was auf die Page...idelt mt uns (#82110), schickt uns Rosen, 
hehe, lasst euren Alltagsstress raus...macht IRGENDWAS, aber REDET mit uns !!!<br>
Interessiert??<br>
Wir haben ja sogar eine Ladysquad *zwinker**BuBu und Wunzi todknuddel*
(Zitat hArm0ny: "ach ja...wir haben ja noch eine Ladysquad...aber die is ja n bisserl schwach auf der Brust... " =o)<br>
A propos Ladysquad....wem diese geistige masturbation von hArmy und SMooF nun nicht gefallen hat....</p>

<p>KRIEGT EINE AUFS MAUL !!!!!</p>
<p>hArm 'n' SMooF feat. 82110 Family</p>
</td></tr>
</table>

{% endblock %}