<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}82IIo Clan || www.82110clan.de{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="{{ asset('js/index.js') }}"></script>
    </head>
    <body>
{% block body %}{% endblock %}

{% block javascript %}
{% endblock %}

{% block stylesheets %}
    <style>{% include "index.css.twig" %}</style>
{% endblock %}
    </body>
</html>
