<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}82IIo Clan || www.82110clan.de{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="{{ asset('js/index.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('css/index.css') }}">
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
